body { background-color: #FFFFFF;
  color: #666666; }
header { background-color: #002171;  /* This is the value from the text, however the color looks different on my monitor */
  color: #FFFFFF; }
nav { background-color: #BBDEFB; }
h1 { margin-bottom: 0;}
h2 { color: #1976D2; }
dt { color: #002171; }
.resort { color: #2976D2; }
