/*
Chapter 5 Exercise: Design a new web page about your favorite movie. Name the web page movie5.html and the css file movie5.css.  Configure a background color for the page and either background images or background colors for at least two sections of the page. Search the Web for a photo of a scene from the movie, an actress in the movie, or an actor in the movie. Include the following information on your web page:

    Title of movie
    Director
    Leading actor
    Leading actress
    Rating
    A brief description of the movie
    An absolute link to a review about the movie
*/

body {
  background-color: #FEFEFE;
}
header {
  background-color: blue;
  background-image: url(upHouse.png), url(skySlice.png);
  background-size: contain, contain;
  background-repeat: no-repeat, repeat-x;
  color: white;
  line-height: 500%;
  text-align: center;
}
footer {
  font-size: 75%;
  font-style: italic;
  text-align: center;
  font-family: serif;
}
h1 {
  margin-bottom: 0;
  margin: 0;
}
p {
  text-indent: 2em;
}
a {
  color: black;
  font-weight: bold;
  font-style: italic;
}
dt {
  font-weight: bold;
  font-style: italic;
}
.quoteCitation {
  text-align: right;
}
#stare {
  background-image: url(upStare.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #478ccd;
  text-indent: 1em;
}
